:root {
  --geomcp-ui-text: #4B4F58;
  --geomcp-ui-text-light: #77747A;

  --geomcp-ui-surface: #FFF7F2;
  --geomcp-ui-highlight: #F2C1B5;
  --geomcp-ui-bar-end: #DE715C;

  --geomcp-background-color: #F3EEE8;

  --geomcp-ui-border: #6D4038;
  --geomcp-ui-divider: #C98E84;

  --geomcp-measurement-stroke: #5b4346;
  --geomcp-measurement-band: #D9957F;
  --geomcp-measurement-band-opacity: 0.5;

  --geomcp-scorebar-border: #6D4038;
  --geomcp-scorebar-fill: #EEC2B7;
  --geomcp-scorebar-line: #A44E42;

  --geomcp-scorebutton-hover: #E86F5A;
  --geomcp-scorebutton-hover-opacity: 0.2;

  --geomcp-scorebutton-pressed: #D95F4D;
  --geomcp-scorebutton-pressed-opacity: 0.3;

  --geomcp-leaflet-hover: #E86F5A;
  --geomcp-leaflet-hover-opacity: 0.3;

  --geomcp-leaflet-selected: #D95F4D;
  --geomcp-leaflet-selected-opacity: 0.5;
}