:root {
  --geomcp-ui-text: #2f2f31;
  --geomcp-ui-surface: #fff6f3;
  --geomcp-ui-highlight: #ffc8bf;
  --geomcp-ui-bar-end: #ff6a61;
  --geomcp-background-color: #F2EEEA;
  --geomcp-ui-border: #552c22;
  --geomcp-ui-divider: #dc9292;
}
